* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid rgba(63, 63, 63, 0.514);
    display: flex;
    justify-content: center;
    align-content: center;
}

/*removes border for top*/
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
/*Removes border for sides*/

.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}
/*Removes border from bottom*/
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.x {
    background-image: url('./img/X.png');
    background-size: cover;
}

.circle {
    background-image: url('./img/circle.png');
    background-size: cover;
}
.winning-message {
    display: none;
}

.show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgba(0,0,0,0.8);
}

.winning-message button {
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}